.account-name {
    float: right;
    margin-left: auto;
}

#home-nav {
    margin-left: 15px;
}

#basic-nav-dropdown {
    margin-right: 25px;
}

.nav-dropdown {
    margin-right: 35px;
    color: red;
}

.h2-white {
    font-size: 3em;
    text-align: center;
    color: white;
}

p {
    font-size: 1.5em;
    text-align: center;
}

.white-p {
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    font-size: 1.5em;
    text-align: center;
}

.card-text {
    font-size: 1.2em;
    text-align: center;
}

.container-home {
    margin-top: 100px;
    background-image: linear-gradient(to right, #3498db, #8e44ad);
    animation: background-animation 2s ease-in-out infinite;
}

.card-home {
    height: 420px;
}

.white-p {
    text-shadow: 2px 2px 2px #000000;
}

.socials {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.fb {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.wa {
    width: 30px;
    height: 30px;
    margin: 10px;
}